# Maven
target/

# Mac
.DS_Store

# Eclipse
.classpath
.settings/
.project
.factorypath

# Other
hs_err_pid*

# VSCode
.vscode

# Idea
.idea
*.iml

### Gradle ###
.gradle
build/
**/build/
.gradletasknamecache
!gradle-wrapper.jar
gradle-app.setting